name: 02 - Workflow Events

on:
    push:
    pull_request:
    workflow_dispatch:
    schedule:
      - cron: "15 4,5 * * *"

jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: Show the trigger
              run: |
                echo "Event name: ${{ github.event_name }}"
                echo "Action Path: ${{ github.action_path }}"
    
